/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	overflow: hidden;
	width: 200px;
	height: 200px;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1s ease-in;
}

.portfolio-item:hover .front {
	-webkit-transform: rotateY(180deg);

}

.back {
	padding: 20px;
	width: 160px;
	height: 160px;
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateY(-180deg);
	-webkit-transition: -webkit-transform 1s ease-in;

}
.portfolio-item:hover .back{
	-webkit-transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 1s ease-in;
}
.portfolio-item {
	-webkit-perspective: 500;
}


